Form {
    max-width: 70vh;
    padding: 16px;
    margin: auto;
  }
  
textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 6px;
    margin: 8px 0;
    display: block;
  }

  .contact {
    min-width: 100vh;
  }